{% extends 'index.html' %}

{% load templtags %}

{%block nav%}
{% endblock %}

{% block content %}


<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Фильтр.
</a>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Фильтры</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
<!--      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">-->
<!--        Dropdown button-->
<!--      </button>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--      </ul>-->
        <form action="" method="get">
        {%for filter in filterset.form%}
        <p>{{filter.label}}:</p>
        {{filter}}
        {% endfor %}
        <button type="submit" class="btn btn-success rounded-pill px-3">Найти</button>
    </form>
    </div>
  </div>
</div>

<h1>Колличество новостей {{news|length}}</h1>
<hr>
{%for n in news%}
<div class="news_detail">
    <h3>{{n.title | censor}}</h3>
    <p>{{n.create_date| date:'M d Y'}}</p>
    <p>{{n.text_post| truncatewords:24 | censor}}</p>
    {% url 'single_news' n.pk as url %}
    <a href="{{url}}">
        <button class="button" type="submit">Подробнее</button>
    </a>
</div>
{%endfor%}


{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}


{%endblock%}