{% extends 'article.html' %}
{% load templtags %}
{%block content%}
{% load static %}

<div class="sub-div" >
    <div id="sub_id" class="hidden-sub-div">
        <button id="btn_sub" value="{{cat_id.id}}" class="btn btn-primary">Подписаться</button>
    </div>
</div>

{% for query in queryset %}
<div class="news_detail" id="news_id">
    <h3>{{query.title | censor}}</h3>
    <p>{{query.create_date| date:'M d Y'}}</p>
    <p>{{query.text_post| truncatewords:24 | censor}}</p>
    {% url 'single_post' query.pk as url %}
    <a href="{{url}}">
        <button class="btn btn-outline-info" type="submit">Подробнее</button>
    </a>
</div>
{% endfor %}


<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Подписка оформлена!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
    </div>
    <div class="toast-body">
      Привет, {{user}}! Поздравляем за подписку в категории {{ object }}.
    </div>
  </div>
</div>

{% endblock%}