{% extends 'index.html'%}
{% load templtags %}
{% load static %}
{%block title%}News{%endblock%}
{% load cache %}
{% load i18n %}

{% cache 60 side%}
{%block side %}
<h6>Категории</h6>
<ul>
    {% for i in cat %}
    <a href="{% url 'category_news' 'news' i.id %}">
        <li>{{i}}</li>
    </a>
    {% endfor %}
</ul>
{% endblock %}
{% endcache%}


{%block content%}

<h1>{% trans "Number of news items" %} {{news|length}}</h1>
{%for n in news%}
<div class="news_detail">
    <div class="post-items">
        <img src="{% static 'images/post items/icon comment.png'%}" alt="" width="20" height="20">{{n.tests|length}}
        <img src="{% static 'images/post items/icon rating.png'%}" alt="" width="20" height="20">{{n.rating_post}}
    </div>
    <div class="post-info-items">
        <h3>{{n.title | censor}}</h3>
        <p>{{n.text_post| truncatewords:24 | censor}}</p>
    </div>

    {% url 'single_post' n.pk as url %}
    <a href="{{url}}">
        <button class="btn btn-outline-info" type="submit">Подробнее</button>
    </a>
</div>

{%endfor%}


{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock %}

{%block script%}
{% endblock%}
