{% extends 'news.html' %}
{% load templtags %}
{%block content%}

<form action="{% url 'subscribe' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="cat_id" value="{{ object.id }}">

    {% if is_subscribe %}
        <input type="hidden" name="task" value="unsub">
        <button type="submit">Отписаться</button>
    {% else %}
        <input type="hidden" name="task" value="sub">
        <button type="submit" onclick="getcontent()">Подписаться</button>
    {% endif %}
    {% load static %}

    <script src="{% static 'js/js.js'%}">
        document.getElementById('myButton').onclick = getcontent;
    </script>
</form>

{% if queryset is False %}
Нет новостей
{% else %}
{% for query in queryset %}
<div class="news_detail">

    <h3>{{query.title | censor}}</h3>
    <p>{{query.create_date| date:'M d Y'}}</p>
    <p>{{query.text_post| truncatewords:24 | censor}}</p>
    {{query}}
    {% url 'single_news' query.pk as url %}
    <a href="{{url}}">
        <button class="btn btn-outline-info" type="submit">Подробнее</button>
    </a>

</div>

{% endfor %}
{% endif %}
{% endblock%}