{% extends 'index.html' %}
{% load templtags %}
{%block content%}
{% load static %}

<button id="btn_sub" name="">Подписаться</button>


{% if queryset is False %}
Нет новостей
{% else %}
{% for query in queryset %}
<div class="news_detail" id="news_id">

    <h3>{{query.title | censor}}</h3>
    <p>{{query.create_date| date:'M d Y'}}</p>
    <p>{{query.text_post| truncatewords:24 | censor}}</p>
    {% url 'single_news' query.pk as url %}
    <a href="{{url}}">
        <button class="btn btn-outline-info" type="submit">Подробнее</button>
    </a>

</div>

{% endfor %}
{% endif %}
{% endblock%}

{% block script %}


<script>
const subChecker = () => {
    $.ajax({
        type : 'GET',
        url: `/news/subscribe/`,
        success : function(response){
            console.log(response)
            const subscribe_category = response.all_subscribe_category
            const button = document.getElementById('btn_sub')
            if (subscribe_category.map === null){console.log('null')}
            subscribe_category.map( cat_id  => {
                if (cat_id.category_id === {{object.id}}) {
                    button.style.background = 'yellow'
                    button.innerHTML = 'Вы подписаны'
                    console.log(true)
                    }
                else {
                      button.style.background = 'green'
                      button.innerHTML = 'Подписаться'
                      console.log(false)
                    }})
            }

    })}

subChecker()


document.addEventListener('DOMContentLoaded', () => {

const button = document.getElementById('btn_sub');

button.addEventListener('click', () =>
{
        $.post( `{% url 'subscribe' %}` ,
        {'cat_id': {{object.id}},'status': 'button.text'})
        subChecker()
    })
    })



</script>

{% endblock%}