{%extends 'index.html'%}
{%block title%} {{news.title}} {%endblock%}

{%block content%}
{% load templtags %}
<div class="single-post-content">
    <div class="head-single-post">
        <img src="{{news.author_post.name.profile.get_avatar}}" alt="" width="100" height="100">
        {{news.author_post.name}}
        <p>{{news.create_date| date:'M d Y'}}</p>
    </div>
    <div class="content-post">
    <h3>{{news.title | censor}}</h3>
    <h5>{{news.text_post | censor}}</h5>
    {% url 'news' as url %}
    <a href="{{url}}">
        <button class="button" type="submit">Назад</button>
    </a>
        </a>
        {% if news.choice_categories == "news" %}
        <a href="{% url 'update_news' news.pk %}">
            <button class="button" type="submit">Редактировать</button>
        </a>
        <a href="{% url 'delete_post' news.pk %}">
            <button class="button" type="submit">Удалить</button>
        </a>
        {% elif news.choice_categories == "article" %}
        <a href="{% url 'update_article' news.pk %}">
            <button class="button" type="submit">Редактировать</button>
        </a>
        <a href="{% url 'delete_article' news.pk %}">
            <button class="button" type="submit">Удалить</button>
        </a>
        {% endif %}
</div>


{%for comment in comments%}

<div class="preview-comment">
    <div class="firs-char-user">
        <h4 style="width: 25%; position: sticky; right: 100%">{{comment.name_user}}</h4>
        <h6 style=" width: 25%; position: sticky; left: 100%">{{comment.date_comment| date:'M d Y'}}</h6>
        <h5 style="width: 100%; position: sticky; right: 100%">{{comment.text| truncatewords:10 | censor}}</h5>
    </div>
</div>

{%endfor%}
</div>

</div>


{%endblock%}